
<div class="main top-main">
  <div class="top-message">
    <font color="#ff000">
    <h2><span style="background-color:#008080; opacity:0.5;">つぶやきで、世界はつながる</span></h2>
    <p><span style="background-color:#008080; opacity:0.5;">今の気持ちをつぶやいてみよう！</span></p>
    </font>
  </div>
</div>